$color-background: #e8eceb;
$color-comment-background: #e09e50;
$color-comment-border: #d58222;
$color-menu: #8cbdb9;
$color-button: #2d3e4e;
$color-footer: #0d3e4e;
$color-text: #e8eceb;

$small-padding: 5px;
$radius: 10px;