.footer {
  width:100%;
  background-color: $color-footer;
  display: flex;
  justify-content: space-between;
  padding: .7rem;
  box-shadow: -16px 10px 34px 34px rgba(0,0,0,0.20);

  .footer_copyright {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: $color-text;
    text-align: left;
    padding: $small-padding;
    font-size: .6rem;
  }

  .footer_social {
    padding: $small-padding;
  }

  .footer_social-link {
    color:$color-text;
    padding: $small-padding;

    &:hover i {
      transform: scale(1.2);
    }
  }
}
