*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$color-background: #e8eceb;
$color-comment-background: #e09e50;
$color-comment-border: #d58222;
$color-menu: #8cbdb9;
$color-button: #2d3e4e;
$color-footer: #0d3e4e;
$color-text: #e8eceb;

.App {
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: $color-background;
}

.header{
  background-color: $color-background;
  text-align: center;
  padding:1.5em;

}

.main-nav{
  width: 100vw;
  background-color: $color-menu;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  box-shadow: -16px 10px 34px 0px rgba(0,0,0,0.30);

  @media (min-width: 500px){
    gap:5rem;
  }

  .main-nav_link{
    text-align: center;
    color: $color-text;
    font-size: 1.2rem;
    display: inline-block;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    transition: .3s;

    &:hover{
      background-color: $color-button;
      transform: scale(1.1);
  }
}
}
/////////////////////
//tutaj content start//
/////////////////////
.start{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80vw;
  height: 80vh;

  .start_character-img{
  }

  .start_description{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 50%;
    background-color: $color-comment-background;
    border: 1px solid $color-comment-border;
    border-radius: 10px;
    box-shadow: 14px 8px 50px 0 rgba(213, 130, 34, 1);

    .start_description_header{


    }
  }
}

/////////////////////
//tutaj footer//
/////////////////////
.footer{
  position: absolute;
  bottom:0;
  width:100vw;
  background-color: $color-footer;
  display: flex;
  justify-content: space-between;
  padding: .7rem;
  box-shadow: -16px 10px 34px 34px rgba(0,0,0,0.20);

  .footer_copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-text;
    padding: .5rem;
    font-size: .6rem;
  }

  .footer_social{
    padding: .5rem;
  }

  .footer_social-link{
    color:$color-text;
    padding:.5rem;

    &:hover i{
      transform: scale(1.2);
    }
  }
}
